{{define "header"}}
<html>
    <head>
        <!-- CSS only -->
        <link rel="stylesheet" href="../assets/style/main.css">
        <link rel="stylesheet" href="../assets/style/bootstrap.min.css">
    </head>
{{end}}