{{define "header"}}
<html>
<head>
    <title>FSC Status Dashboard</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../assets/style/main.css">
    <link rel="stylesheet" href="../assets/style/bootstrap.min.css">
</head>
<body>
{{end}}